  </br>
  <strong style="text-align:center;align-items:center; justify-content:center;
  align-self:center;">GymPoint Team</strong>
  <div style="height:3; width:160px;background-color:rgb(228, 9, 9);
   margin-bottom:20px"></div>
  <small style="text-align:center;align-items:center; justify-content:center;
  align-self:center;">
    <strong> The Gym Point Team "NO PAIN NO GAIN"!
    </strong>
  </small>
  </br>

