<p></p>
<div style="align-items:center;justify-content:center; align-self:center;
margin: auto; font-family:Arial, Helvetica, sans-serif;
font-size: 20px; line-height: 1.6; max-width: 600px">
  <h1 style="margin-top:100px;text-align:center;color:rgb(241, 62, 62)">
    Help request!
  </h1>
<p style="margin-top: 10px;">WHAT'S UP, <strong>{{name}}!</strong></br>
<p style="margin-top: 10px;">We came to let you know that your question was answered by: <strong>GymPoint!</strong></p style="margin-top: 10px;"></div>
<strong><h2 style="color:rgb(241, 62, 62);">Question:</h2></strong>
<p style="margin-top: 10px;"> <strong>{{question}} </strong>
<strong><h2 style="color:rgb(241, 62, 62);">Answer:</h2></strong>
<p style="margin-top: 10px;"><strong>{{answer}} </strong></br>
<p>Answered on the day: <strong>{{answer_at}}</strong>.</br></p>
<strong style="color:rgb(241, 62, 62);">Ask for more help --- <strong style="color: #000;"> GymPoint Team!</strong> </h2></strong>
</p>




